/* .navbar {
    --bs-navbar-padding-y: 1.5rem;
}
.text {
    background-color: yellow;
    font-size: 2rem;
}

p.site-text{
    margin: 0px 0px 15px 0px;
    color:#5c5c5c;
    font-size: 14px;
    color:red;

}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0;
    align-items: center;
}
.row {
    padding-left: 125px;
    align-items: center;
}
 */
.fitness-header {
    background-color: red;
}